<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Appointment Form</title>
   <script src="script1.js" defer></script>

</head>
<body>
   <h1>Appointment Form</h1>
   <form id="appointment-form">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" name="userId" required><br><br>
      <label for="appointment">Appointment Date:</label>
      <input type="date" id="appointment" name="appointment" required><br><br>
      <label for="appointment_name">Appointment Id:</label>
      <input type="text" id="appointmentId" name="appointment_name" required><br><br>
      <button type="button" onclick="submitForm(event)">Submit</button>
   </form>
</body>
</html>